* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: #f4f4f4;
}

/* Header */
header {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Hero Section */
#home {
    height: 90vh;
    background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e") no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-text {
    animation: fadeIn 2s ease-in-out;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: black;
    color: white;
}

/* About */
#about {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

#about img {
    width: 300px;
    border-radius: 10px;
    animation: slideIn 1.5s ease-in-out;
}

/* Services */
#services {
    padding: 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    margin: 15px;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateX(-100px); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
  }
